## Aulas Oferecidas Gratuitamento no Portal da DATA SCIENCE ACADEMY

## Fundamentos de Programação, Variáveis, Tipos e Estruturas de Dados

### 1. Logica de Programação e Pseudocódigo

**O que é lógica de programação?**

Antes de escrever código em uma linguagem de programação, é fundamental entender a lógica por trás da solução de um problema. Um algorítimo é uma sequência de passos finítos e bem definidos para resolver um problema. O pseudocódigo e uma forma de representar de maneira informal e próxima da linguagem humana, antes de traduzí-los para Python.

**O que é Pseudocódigo**

Pseudocódigo é uma forma de descrer algorítmos usando uma forma de linguagem intermediária entre o português (ou outro idioma natural) e uma linguagem de programação real (como Python, Java, C++).

Ele não segue regras rígidas de sintaxe, mas utiliza estruturas comuns de programação (como se, então, senão, enquanto, para cada, função etc.), escritas de maneiras simples e legíveis para humanos.

A ideia é focar na lógica do algorítmo, sem se preocupar com os detalhes técnicos da linguágem que será usada depois.

Vejamos um exemplo de pseudocódigo:

Início

    LEIA nota1

    LEIA nota2

    CALCULE media = (nota1 + nota2) / 2

    ESCREVA "A média do aluno é:", media

    SE media >= 7.0 ENTÃO

        ESCREVA "Aluno Aprovado!"

        SENÃO

        ESCREVA "Aluno Reprovado."

    FIM

Tradução em Python:

In [1]:
# Traduzindo o Pseudocódigo para Python

nota1 = 7.5
nota2 = 8.0

media = (nota1 + nota2) / 2

print(f"A média do aluno é: {media}")

if media >= 7.0:
    print("Aluno Aprovado")

else:
    print("Aluno Reprovado.")

A média do aluno é: 7.75
Aluno Aprovado

### 2. Variáveis: Declaração, Atribuição e Regras de Nomenclatura

Uma variável é um espaço na memória do computador destinado a armazenar dados. Em Python, a declaração e a atribuição de um valor a uma variável são feitas simultaneamente. Regras de Nomenclaturas:

 - Nomes de variáveis devem começar com uma letra ou underscore(_).
 - Não podem começar com número.
 - Podem conter apenas caracteres alfanuméricos e underscores (A-z, 0-9 e _).
 - São "case-sensitive" (idade é diferente de Idade).

In [2]:
# Declaração e Atribuição de Váriáveis
nome_completo = "Leonardo da Silva Neves" # String (Texto)
idade = 37 # Integer (inteiro)
altura = 1.87 # Float (ponto flutuante)
eh_estudante = True # Boolean (booleano)

In [3]:
print(f"Nome: {nome_completo}")
print(f"Idade: {idade}")
print(f"altura: {altura}")
print(f"É estudante?: {eh_estudante}")

Nome: Leonardo da Silva Neves
Idade: 37
altura: 1.87
É estudante?: True

In [4]:
# Exemplo de nomes de variáveis inválidas
# 1nome = "Inválido"
# nome-completo = "Inválido"

Python é um linguagem "tipada". Não é preciso declarar o tipo das variáveis ao criá-las, pois Python descobre automaticamente pelo valor atribuído:

In [5]:
x = 10 # tipo int
y1 = 10 # tipo int
y2 = "10" # tipo Str

In [6]:
type(x)

int

In [7]:
type(y1)

int

In [8]:
type(y2)

str

In [9]:
# Podemos somar tipos numéricos
print(x + y1)

20

In [10]:
# Não podemos somar número com string
# print(x + y2)

Ou seja, Python não "mistura" tipos incompatíveis de variáveis e isso mostra que a linguagem não é fracamente tipada.

### 3. Escopo de Variáveis

O escopo de uma variável define onde ela pode ser acessada no código.

 - Variáveis Globais: Declaradas fora de qualquer função. Podem ser acessadas de qualquer lugar do código.
 - Variáveis Locais: Declaradas dentro de uma função. Só podem ser acessadas dentro daquela função.

In [11]:
# Variável Global
saudacao = "Olá mundo!"
nome = "Leonardo"

# Função
def funcao_exemplo():

    #Variável local
    nome = "Anastácia"
    print(f"Dentro da função: {nome}")
    print(f"\nAcessando a variável global de dentro da função: {saudacao}")

funcao_exemplo()

print(f"\nFora da função: {saudacao}")
print(f"\nFora da função: {nome}")

Dentro da função: Anastácia

Acessando a variável global de dentro da função: Olá mundo!

Fora da função: Olá mundo!

Fora da função: Leonardo

In [12]:
# Função
def funcao_exemplo():

    #Variável local
    nome_funcao = "Anastácia"
    print(f"Dentro da função: {nome}")
    print(f"\nAcessando a variável global de dentro da função: {saudacao}")

funcao_exemplo()

# Tentar acessar a variável declarada dentro da função resultará em um erro!
# print(f"\nFora da função: {nome_funcao}")

Dentro da função: Leonardo

Acessando a variável global de dentro da função: Olá mundo!

### 4. Tipos de Dados Primitivos

Estes são os tipos de dados mais básicos em Python.

In [13]:
# Integer (Inteiro)
numero_inteiro = 100
print(f"Valor: {numero_inteiro}, Tipo: {type(numero_inteiro)}")

Valor: 100, Tipo: <class 'int'>

In [14]:
# Float (Ponto Flutuante)
numero_decimal = 19.99
print(f"Valor: {numero_decimal}, Tipo: {type(numero_decimal)}")

Valor: 19.99, Tipo: <class 'float'>

In [15]:
# String (Texto)
texto = "Python é incrível"
print(f"Valor: {texto}, Tipo: {type(texto)}")

Valor: Python é incrível, Tipo: <class 'str'>

In [16]:
# Boolean (Booleano)
verdadeiro = True
falso = False
print(f"Valor: {verdadeiro}, Tipo: {type(verdadeiro)}")
print(f"Valor: {falso}, Tipo: {type(falso)}")

Valor: True, Tipo: <class 'bool'>
Valor: False, Tipo: <class 'bool'>

### 5. Operadores Aritméticos, de Comparação e Lógicos

#### 5.1 Operadores Aritméticos

Usados para realizar operações matemáticas.

In [17]:
# Definição de variáveis
a = 10
b = 3

In [18]:
# Usando operadores aritiméticos
soma = a + b # Adição
subtracao = a - b # Subtração
multiplicacao = a * b # Multiplicação
divisao = a / b # Divisão com resultado sempre float
divisao_inteira = a // b # Divisão inteira (descarta a parte decimal)
modulo = a % b # Módulo (resto da divisão)
potencia = a ** b # Potenciação

In [19]:
print(f"{a} + {b} = {soma}")
print(f"{a} - {b} = {subtracao}")
print(f"{a} * {b} = {multiplicacao}")
print(f"{a} / {b} = {divisao:.2f}")
print(f"{a} // {b} = {divisao_inteira}")
print(f"{a} % {b} = {modulo}")
print(f"{a} ** {b} = {potencia}")

10 + 3 = 13
10 - 3 = 7
10 * 3 = 30
10 / 3 = 3.33
10 // 3 = 3
10 % 3 = 1
10 ** 3 = 1000

In [20]:
# As regras da matemática se aplicam aqui normalmente

# Variáveis

a = 10
b = 0

# Tentativa de divisão por zero
# a/b

In [21]:
# Cuidado. Isso não pode!
# 8 + 's'

In [22]:
# Mas isso é permitido! (não é soma, é concatenação de strings)
'8' + 's'

'8s'

#### 5.2. Operadores de Comparação

Usandos para comparar valores. O resultado é sempre um Boolean (True ou False).

In [23]:
# Definição de variáveis
x = 5
y = 10

In [24]:
# Operador "maior que"
x > y

False

In [25]:
# Operador "Menor que"
x < y

True

In [26]:
# Operador "igual a"
x == y

False

In [27]:
# Operador "Diferennte de"
x != y

True

In [28]:
# Operador "Maior ou igual a"
x >= y

False

In [29]:
# Operador "Menor ou igual a"
x <= y

True

In [30]:
print(f"{x} > {y} ? {x>y}") # Maior que
print(f"{x} < {y} ? {x<y}") # Menor que
print(f"{x} == {y} ? {x==y}") # Igual a
print(f"{x} != {y} ? {x!=y}") # Diferente a
print(f"{x} >= {y} ? {x>=y}") # Maior ou Iqual a
print(f"{x} <= {y} ? {x<=y}") # Menor ou Igual a

5 > 10 ? False
5 < 10 ? True
5 == 10 ? False
5 != 10 ? True
5 >= 10 ? False
5 <= 10 ? True

#### 5.3. Operadores Lógicos

Usados para combinar expressões booleanas.

In [31]:
# Definição de variáveis
tem_dinheiro = True
tem_tempo = False

In [32]:
# Operador AND (e): Ambos precisam ser verdadeiros
print(f"O cliente pode viajar? {tem_dinheiro and tem_tempo}")

O cliente pode viajar? False

In [33]:
# Operador OR (ou): Pelo menos um precisa ser verdadeiro
print(f"O cliente pode viajar? {tem_dinheiro or tem_tempo}")

O cliente pode viajar? True

In [34]:
# Operador NOT (não): Inverte o valor booleano
print(f" O cliente pode viajar? {tem_dinheiro and not tem_tempo}")

 O cliente pode viajar? True

### 6. Manipulação de Strings

Strings são sequência de caracteres e possuem muitos métodos úteis.

In [35]:
# Definição de variáveis do tipo string
frase = " Aprender Python é muito divertido! "

In [36]:
# Concatenação
nome = "Maria"
saudacao = "Olá, " + nome + "!"
print(saudacao)

Olá, Maria!

In [37]:
# Tamanho da string
print(f"Tamanho da frase: {len(frase)}")

Tamanho da frase: 36

In [38]:
# Maiúcula e Minúscula
print(f"Maiúcula: {frase.upper()}")
print(f"Minúscula: {frase.lower()}")

Maiúcula:  APRENDER PYTHON É MUITO DIVERTIDO!
Minúscula:  aprender python é muito divertido!

In [39]:
# Remover espaço em branco do início e do fim (0 espaço é um caracter válido)
frase_sem_espaco = frase.strip()
print(f"Frase sem espaço: '{frase_sem_espaco}'")

Frase sem espaço: 'Aprender Python é muito divertido!'

In [40]:
# Substituir texto
print(f"substituindo 'divertido' por 'legal': {frase_sem_espaco.replace('divertido', 'legal')}")

substituindo 'divertido' por 'legal': Aprender Python é muito legal!

In [41]:
# A string dentro  da variácel mudou?
print(f"Frase sem espaço: '{frase_sem_espaco}'")

Frase sem espaço: 'Aprender Python é muito divertido!'

In [42]:
# Fatiamento (Slicing) - Acessando partes de uma string
# O índice em Python começa por zero
print(frase_sem_espaco)
print(f"O primeiro caracter: {frase_sem_espaco[0]}")
print(f"A palavra 'Python': {frase_sem_espaco[9:15]}") # Do índice 9 ao 14

Aprender Python é muito divertido!
O primeiro caracter: A
A palavra 'Python': Python

**Atenção Máxima: A Indexação em Python Começa por Zero!**

### 7. Estrutura de Dados - Listas

Listas são coleções ordenadas e **mutáveis** de ítens. Podem conter diferentes dipos de dados.

In [43]:
# Criando lista
frutas = ['banana', 'maça', 'laranja', 'abacaxi']
print(f"Lista de frutas: {frutas}")

Lista de frutas: ['banana', 'maça', 'laranja', 'abacaxi']

In [44]:
# Tipo do objeto
type(frutas)

list

In [45]:
# Acessando um item pelo índice
print(f"A primeira fruta é: {frutas[0]}")
print(f"A última fruta é: {frutas[-1]}")

A primeira fruta é: banana
A última fruta é: abacaxi

In [46]:
# Adicionando um item ao final da lista
frutas.append("uva")
print(f"Lista após adicionar 'uva': {frutas}")

Lista após adicionar 'uva': ['banana', 'maça', 'laranja', 'abacaxi', 'uva']

In [47]:
# Removendo um item
frutas.remove("laranja")
print(f"Lista após remover 'laranja': {frutas}")

Lista após remover 'laranja': ['banana', 'maça', 'abacaxi', 'uva']

In [48]:
# Modificando um item
frutas[0] = "morango"
print(f"Lista após modificar o primeiro item: {frutas}")

Lista após modificar o primeiro item: ['morango', 'maça', 'abacaxi', 'uva']

In [49]:
# Podemos imprimir diretamente
print(frutas)

['morango', 'maça', 'abacaxi', 'uva']

In [50]:
# Verificando o tamanho da lista
print(f"A lista tem {len(frutas)} frutas.")

A lista tem 4 frutas.

In [51]:
# Deletando a lista
del frutas

In [52]:
# Lista não pode mais ser acessada
# print(frutas)

#### 8. Estruturas de Dados - Tupla

Tuplas são coleções ordenadas e **imutáveis** dee itens. Uma vez criadas, não podem ser alteradas.

In [53]:
# Criando uma tupla
coordenadas = (10.0, 20.5)
print(f"Tupla de coordenadas: {coordenadas}")

Tupla de coordenadas: (10.0, 20.5)

In [54]:
# Tipo do objeto
type(coordenadas)

tuple

In [55]:
# Acessando um item pelo índice
print(f"Coordenada X: {coordenadas[0]}")
print(f"Coordenada y: {coordenadas[1]}")

Coordenada X: 10.0
Coordenada y: 20.5

In [56]:
# A tentativa de modificar uma tupla resultará em erro (descomente para ver)
# coordenadas[0] = 15.0

In [57]:
# Tuplas são úteis para dados que não devem ser alterados, como meses do ano, coordenadas, etc.
dias_da_semana = ("Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado", "Domingo")
print(f"O primeiro dia da semana é: {dias_da_semana[0]}")

O primeiro dia da semana é: Segunda

#### 9. Estrutura de Dados - Dicionários

Dicionários são coleções de pares chave:valor. São mutáveis

In [58]:
# Criando um dicionário de informações de um aluno
aluno = {
    "nome": "Leonardo",
    "idade": 36,
    "curso":"Data Science Para Análise Multivariada",
    "Aluno_Ativo": True
}

In [59]:
print(f"Dicionário do aluno: {aluno}")

Dicionário do aluno: {'nome': 'Leonardo', 'idade': 36, 'curso': 'Data Science Para Análise Multivariada', 'Aluno_Ativo': True}

In [60]:
# Acessando um valor pela sua chave
print(f"Nome do aluno: {aluno['nome']}")
print(f"Curso: {aluno.get('curso')}") # .get() é uma forma segura de acessar chaves

Nome do aluno: Leonardo
Curso: Data Science Para Análise Multivariada

In [61]:
# Adicionar um novo par chave-valor
aluno["cidade"] = "São Paulo"
print(f"Dicionário atualizado:\n {aluno}")

Dicionário atualizado:
 {'nome': 'Leonardo', 'idade': 36, 'curso': 'Data Science Para Análise Multivariada', 'Aluno_Ativo': True, 'cidade': 'São Paulo'}

In [62]:
# Modificando um valor existente
aluno["idade"] = 37
print(f"Idade atualizada: {aluno['idade']}")

Idade atualizada: 37

In [63]:
# Removendo um par de chave-valor
del aluno['Aluno_Ativo']
print(f'Dicionário após remover a chave "Aluno_Ativo": {aluno}')

Dicionário após remover a chave "Aluno_Ativo": {'nome': 'Leonardo', 'idade': 37, 'curso': 'Data Science Para Análise Multivariada', 'cidade': 'São Paulo'}

#### 10.Estrutura de Dados - Conjuntos (Sets)

Conjuntos são coleções não ordenadas de itens únicos e mutáveis. Eles são úteis para remover duplicatas e realizar operaçẽos matemáticas de conjuntos(união, interseção).

In [64]:
# Criando um conjunto (note que os itens duplicados são removidos)
numeros = {1, 2, 3, 4, 2, 3, 5}
print(f"Conjunto de números (sum duplicatas): {numeros}")

Conjunto de números (sum duplicatas): {1, 2, 3, 4, 5}

In [65]:
type(numeros)

set

In [66]:
# Adicionando um item
numeros.add(2)
print(f"Após adicionar o número 6: {numeros}")

Após adicionar o número 6: {1, 2, 3, 4, 5}

In [67]:
# Remover um item
numeros.remove(2)
print(f"Após remover o 2: {numeros}")

Após remover o 2: {1, 3, 4, 5}

In [68]:
# Operação de conjutos
conjunto_a = {1, 2, 3, 4}
conjunto_b = {3, 4, 5, 6}

In [69]:
# União (todos os elementos de ambos os conjuntos)
uniao = conjunto_a.union(conjunto_b)
print(f"União de A e B: {uniao}")

União de A e B: {1, 2, 3, 4, 5, 6}

In [70]:
# Interseção (elementos que estão em ambos os conjutos)
intersecao = conjunto_a.intersection(conjunto_b)
print(f"Interseção de A e B: {intersecao}")

Interseção de A e B: {3, 4}

#### 11. Conversão Entre Tipos de Dados (Type Casting)

É a conversão de um tipo de dado pora outro.

In [71]:
# Conversão de string para o tipo integer
numero_em_texto = "123"
numero_inteiro = int(numero_em_texto)
print(f"String '{numero_em_texto}' para Integer: {numero_inteiro}, Tipo {type(numero_inteiro)}")

String '123' para Integer: 123, Tipo <class 'int'>

In [72]:
# Convertendo de string para número float
numero_decimal_em_texto = "45.67"
numero_float = float(numero_decimal_em_texto)
print(f"String: '{numero_decimal_em_texto}' para Float: {numero_float}, Tipo: {type(numero_float)}")

String: '45.67' para Float: 45.67, Tipo: <class 'float'>

In [73]:
# Convertendo de número para string
idade = 25
idade_texto = str(idade)
print(f"Inteiro: {idade} para String: '{idade_texto}', Tipo: {type(idade_texto)}")

Inteiro: 25 para String: '25', Tipo: <class 'str'>

In [74]:
# Convertendo uma estrutura de dados
lista_com_duplicatas = [1, 2, 2, 3, 4, 4, 4, 5]
conjunto_unico = set(lista_com_duplicatas)
lista_sem_duplicatas = list(conjunto_unico)

In [75]:
print(f"\nLista original: {lista_com_duplicatas}")
print(f"\nConvertida para conjunto (duplicatas removida): {conjunto_unico}")
print(f"\nConvertida de volta para Lista: {lista_sem_duplicatas}\n")

Lista original: [1, 2, 2, 3, 4, 4, 4, 5]

Convertida para conjunto (duplicatas removida): {1, 2, 3, 4, 5}

Convertida de volta para Lista: [1, 2, 3, 4, 5]

#### 12. Entrada e Saída Padrão

A forma mais comum de interagir com o usuário é através da entrada (input) de dados pelo teclado e da saída (output) de informações na tela.

##### 12.1 Saída de Dados com print()

Já usamos bastante, mas aqui estão alguns recursos adicionais, como as f-strings.

In [76]:
# Variáveis
nome = "Juliana"
idade = 28
cidade = "Rio de Janeiro"

# Usando f-string (a forma mais moderna e recomendada)
print(f"Olá, meu nome é {nome}, tenho {idade} anos e moro no {cidade}.")

# Formatando números
preco = 49.95678
print(f"O preço do produto é R$ {preco:.2f}") # Formatação para 2 casas decimais

Olá, meu nome é Juliana, tenho 28 anos e moro no Rio de Janeiro.
O preço do produto é R$ 49.96

##### 12.2. Entrada de Dados input()

A função input() sempre retorna uma string. Por isso, é comum precisar fazer o type casting.

In [77]:
# Pedido o nome do usuário (string)
nome_usuario = input("Qual é o seu nome? ")

# Pedindo a idade do usuário (precisa converter para int)
idade_usuario_str = input("Qual é a sua idade? ")
idade_usuario_int = int(idade_usuario_str)

from datetime import date

# Pega o ano corrente na data definida no sistema operacional da sua máquina.
ano_atual = date.today().year

# Preenchendo os dados
ano_nascimento = ano_atual - idade_usuario_int

# Exibindo o resultado
print(f"\nOlá, {nome_usuario}! Bem-vindo(a).")
print(f"Você tem {idade_usuario_int} anos e nasceu aproximadamente em {ano_nascimento}.")

Qual é o seu nome?  leonardo
Qual é a sua idade?  45

Olá, leonardo! Bem-vindo(a).
Você tem 45 anos e nasceu aproximadamente em 1980.

In [2]:
altura_str = input("Digite sua altura em metro: Ex( 1.34): ")
peso_str = input("Digite seu peso em kg (ex: 70,5): ")

altura = float(altura_str)
peso = float(peso_str)

imc = peso / (altura ** 2)

print(f"IMC calculado: {imc}")

Digite sua altura em metro: Ex( 1.34):  1.87
Digite seu peso em kg (ex: 70,5):  91.0

IMC calculado: 26.023048986244955

### Fim